@import 'vendors/reset';
@import 'global/layout';


///////////////////// media ////////////////////////////
$mobile: "(max-width: 900px)";
$tablet: "(min-width: 901px) and (max-width: 1024px)";
//$desktop: "(min-width: 1129px)";
$desktop: " screen and (min-width: 901px)";



///////////////////// balise ////////////////////////////
@font-face {
font-family: 'Menlo Regular';
font-style: normal;
font-weight: normal;
src: url('../font/Menlo-Regular.woff') format('woff');
}

.snakeSegment {
    background: url('../img/gifsnake.gif') no-repeat;
    position: absolute;
    width: 130px;
    height: 270px;
    z-index: 1;
}

#snakeShadowDemo {
    position: static;
}

html {
    font-size: 100%;
    margin:0;



}

body {
    margin: 0;
    font-style: sans-serif;
   //background: url('../img/bg2.png') no-repeat;
   background: url('../img/linyGeant.svg') no-repeat;
   background-size: 100%;


}



.bloc {
    position: relative;
}

.shadow{
 box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 2px;
   }



.firstsection {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Menlo Regular', Helvetica, sans-serif;
  //height:1100px;
  display: block;
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;

  .colonne1 {
  width: 37%;
  @media #{$mobile} {
   min-width: 355px;
   }

  }
  .colonne2 {
  width: 63%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }

}


.bloc1 {
   z-index: 3;
   //border: solid red 5px;
   transform: rotate(-4deg);
   overflow: hidden;


   video {
    width: 90%;
    margin: 15px 5px;
   }

   @media #{$desktop} {
   margin-top: 40%;
   width: 120%;
   height: 95%;
   }



}

.bloc2 {
    z-index: 2;
   //border: solid blue 5px;
    overflow: hidden;
   img {
    width:100%;
   }
}

.text1 {
    z-index: 2;
    position: relative;
    font-size: 1.5vw;
    line-height : 1.5;
    text-align: justify;
    font-family:  Helvetica, sans-serif;

     @media #{$desktop} {
     width: 80%;
     padding: 5% 10%;
   }

    @media #{$mobile} {
    font-size: 4vw;
    padding: 5% 3%;

   }

}
.twosection {
  overflow: hidden;
  margin-top: -130px;
  padding-bottom: 50px;
  padding-top:50px;
  font-family: 'Menlo Regular', Helvetica, sans-serif;
 // display: block;
  display:flex;
  flex-wrap: wrap;

  .colonne1 {
  width: 37%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne2 {
  width: 20%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne3 {
  width: 23%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne4 {
  width: 20%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }

}


.bloc3bg {
    z-index: 0;
    background-color: #FDFA05 ;
    transform: rotate(7deg);
    margin-top: 30%;
   // height: 80%;
    width: 93%;
    margin-left:10%;
    text-transform: uppercase;

    p {
    font-size: 3.3vw;
    transform: rotate(-6deg);
    padding-top: 20%;
    padding-bottom: 65%;
    margin-left: 20%;

       @media #{$mobile} {
      font-size: 8vw;
      }

    }
}


.bloc3 {
  z-index: 4;
  transform: rotate(-3deg);
  width: 100%;
  margin-top: -50%;

  @media #{$desktop} {

     margin-left: 30%;
     width: 80%;
   }

}

.bloc4 {
    z-index: 2;
    transform: rotate(-3deg);
    @media #{$desktop} {
     margin-top: 35%;
     width: 120%;
   }

}

.bloc5 {
    z-index: 3;
    transform: rotate(2deg);


    @media #{$desktop} {
     margin-top: 75%;
    width: 115%;
   }

}

.bloc6 {
    z-index: 4;
    transform: rotate(7deg);


    @media #{$desktop} {
    width: 120%;
   }

}

.slogan {
  @media #{$desktop} {
    margin-top: -12%;
    margin-bottom: 7%;
   }
}
.text2 {
    z-index: 2;
    position: relative;
    padding: 0% 5%;
    font-size: 2.5vw;
    font-family: 'Menlo Regular', Helvetica, sans-serif;
    text-transform: uppercase;

    @media #{$desktop} {
    width: 50%;
    margin-left: auto;
    right:0px;
   }

    @media #{$mobile} {
    font-size: 6.5vw;
   }

}

.treesection {
  overflow: hidden;
  //padding-bottom: 8%;
 // padding-top:2%;
  font-family:  Helvetica, sans-serif;
  display:flex;
  flex-wrap: wrap;

  .colonne1 {
  width: 45%;
  //border: solid green 3px;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne2 {
    //border: solid blue 3px;
    width: 55%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
}

.text3 {
    z-index: 2;
    font-size: 1.5vw;
    width: 80%;
    margin: 5% auto;
    text-align: justify;

    @media #{$mobile} {
    font-size: 4.5vw;
   }
}

.imagesectiontree {
    z-index: 3;
   // border: solid red 5px;
    width: 60%;
    margin: 5% auto;
    img{
      width: 100%;
    }

     @media #{$mobile} {
    width: 100%;
   }
}

.bloc7 {
  z-index: 3;
  position:relative;
  right:0px;
  margin-left: auto;
  width: 100%;
  height: 100%;
  img{
     // width: 100%;
      height: 90%;
      margin: 3% 0%;
  }

    @media #{$mobile} {
    padding:6% 0%;
   }

}




.foursection {
  overflow: hidden;
  padding-bottom: 2%;
  padding-top:2%;
  font-family:  Helvetica, sans-serif;
 // display: block;
  display:flex;
  flex-wrap: wrap;
  font-style: justify;

  .colonne1 {
  width: 15%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne2 {
  width: 25%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne3 {
  width: 25%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne4 {
  width: 35%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }

}

.bloc8 {
  z-index: 1;
  transform: rotate(-3deg);
  width: 100%;

  @media #{$desktop} {

     margin-left: 25%;
     width: 90%;
   }
    @media #{$mobile} {
    padding-top:3%;
   }

}

.bloc9 {
    z-index: 2;
    transform: rotate(3deg);
    @media #{$desktop} {
     margin-top: 30%;
     width: 120%;
   }
   img{
    width: 100%;
   }


}

.bloc10 {
    z-index: 3;
    transform: rotate(-3deg);


    @media #{$desktop} {
     margin-top: 5%;
     width: 100%;
   }
   img{
      width: 100%;
    }

}

.bloc11 {
    z-index: 2;
    transform: rotate(2deg);


    @media #{$desktop} {
    width: 75%;
    margin-top: 7%;
    margin-left:- 20%;
   }

   @media #{$mobile} {
    padding-bottom:3%;
   }

}
.texte4 {
  padding: 10% 10%;

 @media #{$desktop} {
    width: 90%;

    font-size: 2vw;

   }

}

.slogan2 {
  @media #{$desktop} {
    margin-top: -16%;
   }
}

.text5 {
    z-index: 2;
    position: relative;
    padding-bottom:5%;
    padding-top: 8%;
    font-size: 2.5vw;
    font-family: 'Menlo Regular', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: right;

    @media #{$desktop} {
    width: 50%;
    left:0px;
   }

    @media #{$mobile} {
    font-size: 6.5vw;
   }

}




footer {
  width: 100%;
  height: 35vw;
  overflow: hidden;
  min-height:350px;

}

#footer1{
 // border: solid 3px red;
height:80%;
width: 100%;
z-index: 3;
position: relative;
//margin-bottom: -20px;

    img {
      width: 100%;
      position: absolute;
      bottom: 0px;

      @media #{$desktop} {
       width:70%;
       margin: 0px 15%;
       margin-bottom:-1%;
       }
      }
}

section.footer2{
  background-color: #1D1D1B;
  height:20%;
  z-index: 4;
  position: relative;

  p{
    font-family: 'Menlo Regular', Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 1vw;
    text-align: center;
    padding: 40px;

    @media #{$mobile} {
    font-size: 3.5vw;
   }

  }

}


.gif {
background: url('../img/footer-anim-gif.gif') no-repeat center;
  }
.transparent {
background-color: red ;

}


