@import 'vendors/reset';
@import 'global/layout';


///////////////////// media ////////////////////////////
$mobile: "(max-width: 900px)";
$tablet: "(min-width: 901px) and (max-width: 1024px)";
//$desktop: "(min-width: 1129px)";
$desktop: " screen and (min-width: 901px)";



///////////////////// balise ////////////////////////////
@font-face {
font-family: 'Menlo Regular';
font-style: normal;
font-weight: normal;
src: url('../font/Menlo-Regular.woff') format('woff');
}

.snakeSegment {
    background: url('../img/gifsnake.gif') no-repeat;
    position: absolute;
    width: 130px;
    height: 270px;
    z-index: 1;
}

#snakeShadowDemo {
    position: static;
}

html {
    font-size: 100%;
    margin:0;



}

body {
    margin: 0;
    font-style: sans-serif;
   //background: url('../img/bg2.png') no-repeat;
   background: url('../img/linyGeant.svg') no-repeat;
   background-size: 100%;


}



.bloc {
    position: relative;
}

.shadow{
 box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 2px;
   }



.firstsection {
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: 'Menlo Regular', Helvetica, sans-serif;
  //height:1100px;
  display: block;
  display:flex;
  flex-wrap: wrap;

  .colonne1 {
  width: 37%;
  display: inline-block;
  @media #{$mobile} {
   min-width: 355px;
   }

  }
  .colonne2 {
  width: 63%;
  display: inline-block;
  @media #{$mobile} {
   min-width: 355px;
   }
  }

}


.bloc1 {
   z-index: 3;
   //border: solid red 5px;
   transform: rotate(-4deg);
   overflow: hidden;


   video {
    width: 90%;
    margin: 20px 20px;
   }

   @media #{$desktop} {
   margin-top: 40%;
   width: 120%;
   height: 100%;
   }



}

.bloc2 {
    z-index: 2;
   //border: solid blue 5px;
    overflow: hidden;
   img {
    width:100%;
   }
}

.text1 {
    z-index: 2;
    position: relative;
    padding: 5% 15%;
    font-size: 1.5vw;
    line-height : 1.5;
    text-align: justify;
    font-family:  Helvetica, sans-serif;
    @media #{$mobile} {
    font-size: 3vw;

   }

}
.twosection {
  overflow: hidden;
  margin-top: -130px;
  padding-bottom: 50px;
  padding-top:50px;
  font-family: 'Menlo Regular', Helvetica, sans-serif;
 // display: block;
  display:flex;
  flex-wrap: wrap;

  .colonne1 {
  width: 37%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne2 {
  width: 20%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne3 {
  width: 23%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne4 {
  width: 20%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }

}


.bloc3bg {
    z-index: 0;
    background-color: #FDFA05 ;
    transform: rotate(7deg);
    margin-top: 30%;
   // height: 80%;
    width: 93%;
    margin-left:10%;
    text-transform: uppercase;

    p {
    font-size: 3.3vw;
    transform: rotate(-6deg);
    padding-top: 20%;
    padding-bottom: 65%;
    margin-left: 20%;

       @media #{$mobile} {
      font-size: 8vw;
      }

    }
}


.bloc3 {
  z-index: 4;
  transform: rotate(-3deg);
  width: 100%;
  margin-top: -50%;

  @media #{$desktop} {

     margin-left: 30%;
     width: 80%;
   }

}

.bloc4 {
    z-index: 2;
    transform: rotate(-3deg);
    @media #{$desktop} {
     margin-top: 35%;
     width: 120%;
   }

}

.bloc5 {
    z-index: 3;
    transform: rotate(2deg);


    @media #{$desktop} {
     margin-top: 75%;
    width: 115%;
   }

}

.bloc6 {
    z-index: 4;
    transform: rotate(7deg);


    @media #{$desktop} {
    width: 120%;
   }

}

.slogan {
  @media #{$desktop} {
    margin-top: -12%;
    margin-bottom: 7%;
   }
}
.text2 {
    z-index: 2;
    position: relative;
    padding: 0% 5%;
    font-size: 2.5vw;
    font-family: 'Menlo Regular', Helvetica, sans-serif;
    text-transform: uppercase;

    @media #{$desktop} {
    width: 50%;
    margin-left: auto;
    right:0px;
   }

    @media #{$mobile} {
    font-size: 6.5vw;
   }

}

.treesection{
  display:flex;
  font-family: Helvetica, sans-serif;
  display:flex;
  flex-wrap: wrap;
}
.demarche {

  padding: 0% 5%;

  @media #{$desktop} {
   width: 35%;
   }


  @media #{$mobile} {
    min-width: 350px;
   }

}
.text3 {
    z-index: 2;
    padding: 5% 2%;
    font-size: 1.5vw;
    text-align: justify;
    display: block;

    @media #{$mobile} {
    font-size: 4.5vw;
   }
}

.imagesectiontree {
    z-index: 3;
    width: 85%;
    height: 40%;
    border: solid red 5px;
    margin: 20px auto;
    display: block;
}
.bloc7 {
    z-index: 3;
    border: solid red 5px;

    @media #{$desktop} {
    width: 50%;
    height: 300px;
    margin: 50px auto;
   }

    @media #{$mobile} {
    min-width: 350px;
   }

}


.foursection {
  overflow: hidden;
  padding-bottom: 8%;
  padding-top:2%;
  font-family:  Helvetica, sans-serif;
 // display: block;
  display:flex;
  flex-wrap: wrap;
  font-style: justify;

  .colonne1 {
  width: 15%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne2 {
  width: 25%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne3 {
  width: 25%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }
  .colonne4 {
  width: 35%;
  @media #{$mobile} {
   min-width: 355px;
   }
  }

}

.bloc8 {
  z-index: 1;
  transform: rotate(-3deg);
  width: 100%;

  @media #{$desktop} {

     margin-left: 25%;
     width: 90%;
   }

}

.bloc9 {
    z-index: 2;
    transform: rotate(3deg);
    @media #{$desktop} {
     margin-top: 30%;
     width: 120%;
   }

}

.bloc10 {
    z-index: 3;
    transform: rotate(-3deg);


    @media #{$desktop} {
     margin-top: 5%;
     width: 100%;
   }

}

.bloc11 {
    z-index: 2;
    transform: rotate(2deg);


    @media #{$desktop} {
    width: 75%;
    margin-top: 7%;
    margin-left:- 20%;
   }

}
.texte4 {
  padding: 10% 10%;

 @media #{$desktop} {
    width: 90%;

    font-size: 2vw;

   }

}

.slogan2 {
  @media #{$desktop} {
    margin-top: -16%;
    margin-bottom: 7%;
   }
}

.text5 {
    z-index: 2;
    position: relative;
    padding: 0% 5%;
    font-size: 2.5vw;
    font-family: 'Menlo Regular', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: right;

    @media #{$desktop} {
    width: 50%;
    left:0px;
   }

    @media #{$mobile} {
    font-size: 6.5vw;
   }

}




footer {

  width: 100%;
  height: 60vh;
}

#footer1{
 // border: solid 3px red;
  height:60%;
  width: 100%;
  margin-bottom: -20px;
    img {
      width:50%;
      margin: 0px 25%;
    }
}
.gif {
background: url('../img/footer-anim-gif.gif') no-repeat center;
  }
.transparent {
background-color: red ;

}

section.footer2{
  background-color: #1D1D1B;
  height:40%;
}

