@import 'vendors/reset';

@import 'global/layout';

@import 'blocs/header';
@import 'blocs/footer';

///////////////////// media ////////////////////////////
$mobile: "(max-width: 590px)";
$tablet: "(min-width: 590px) and (max-width: 1024px)";
$desktop: "(min-width: 1024px)";


///////////////////// balise ////////////////////////////

section{


  h1 {
    margin-bottom: 15px;
    font-style: bold;
    font-size: 45px;

    @media #{$mobile} {
    font-size: 30px;
    }
}

h2 {
    margin-bottom: 5px;
    font-style: bold;
    font-size: 30px;

    @media #{$mobile} {
    font-size: 20px;
    }
}

}



body {
  text-align:center;
  background-color: white;
  font-family: sans-serif;
  line-height:25px;
  font-size: 20px;
  @media #{$mobile} {
    font-size: 16px;
    }
}

///////////////////// Contact ////////////////////////////
/*.contact {
 background: url("../img/contact.png") center no-repeat;
background-size:cover;
color:white;
padding: 50px 0px;


 &__intro {
  margin-bottom: 30px;
    }

 &__formulaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:80%;
  margin: 0 auto;

     input {
      width:45%;
      margin-bottom:10px;
      border-radius:3px;
      height:30px;
      border:none;

         &:nth-child(3){
         width: 100%;
         }
     }

     a {
      text-decoration: none;
      width:100%;
      color:white;
    }
  }
}

*/

///////////////////// Horaire ////////////////////////////
.horaire {
  background: purple;
  padding-bottom: 30px;
}

///////////////////// Tarif commun ////////////////////////////

.tarifs {
  padding: 100px 0px;
}

.tarifs__forfait{
margin: 15px 0px;
}

.tarifs__groupe{
   display: flex;
   flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom:20px;

  .tarifs__groupeListe{
    background-color: rgba(0, 0, 0, 0.7);
    color : white;
    margin: 10px;
    padding:10px;
    border-radius: 3px;

    .tarifs__Solo{
      display: flex;
   flex-wrap: no-wrap;

        p:first-child {
          width:350px;
          text-align: left;

          @media #{$mobile} {
          width:270px;
          }

        }
    }
  }
}

///////////////////// Tarif feminin ////////////////////////////
.tarifs_femme {
background: url("../img/femme.jpg") center no-repeat fixed;
background-size:cover;
}


///////////////////// Tarif homme ////////////////////////////

.tarifs_homme {
background: url("../img/homme.jpg") center no-repeat fixed;
background-size:cover;
color : white;
}






.diagonal-text {
  color: white;
  padding: 35px 0 15px;
  transform:  rotate(-2deg) skew(-2deg);
  -webkit-transform:  rotate(-2deg) skew(-2deg);
  -moz-transform: rotate(-2deg) skew(-2deg);
  -o-transform:  rotate(-2deg) skew(-2deg);
  -ms-transform:  rotate(-2deg) skew(-2deg);
  margin-bottom: -5px;
  padding-bottom: 60px;
}


.diagonal {
  width: 100.1%;
  transform:  rotate(2deg) skew(2deg);
  -webkit-transform: rotate(2deg) skew(2deg);
  -moz-transform: rotate(2deg) skew(2deg);
  -o-transform:  rotate(2deg) skew(2deg);
  -ms-transform:  rotate(2deg) skew(2deg);
  margin: -30px 0 -30px -1px;
  padding-top: 30px ;

}

.diagonal__purple {
 background: #7A217D center ;

}

.diagonal__grey {
background: #575756 center ;

}
.beforemap {
  background: #9d1e17 none repeat scroll 0 0;
}
.map {
    background: #9d1e17 none repeat scroll 0 0;
    content: "";
    height: 180px;
    left: -62%;
    top: -26%;
    transform: rotate(18deg);
    width: 550px;
    position: absolute;

}


