.header{
height:100vh;

@media screen and (max-width: 600px) {
   background: url("../img/header-small.png") center no-repeat;
   background-size:cover;
   background-position:top;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
   background: url("../img/header-medium.png") center no-repeat;
   background-size:cover;
   background-position:top;
}
@media screen and (min-width: 1100px) {
   background: url("../img/header-large.png") center no-repeat;
   background-size:cover;
   background-position:top;
}
}

